$font-hei: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
$color-nearblack: #3E3A39;
$color-highlight: #68B0AB;
$color-f: #FFFFFF;
$color-f4: #F4F4F4;
$color-highlight-thin: rgba(218,236,234,.8);
$width:94%;
$icon-width:38px;
$bg-radius: 17px;
$top-margin:1.4em;
$chart-height: 200px;
$toast-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.90);


%displayAuto {
  background: $color-highlight;
  display: flex;
  align-items: center;
  flex-direction: column;
  //overflow-y: scroll;
  overflow-y: auto;
  // 隐藏滚动条
  &::-webkit-scrollbar { width: 0 !important }   // chrome 和 Safari
  &{ overflow: -moz-scrollbars-none; }           // IE 10+
  &{ -ms-overflow-style: none; }                 // Firefox
}