*{margin: 0;padding: 0;box-sizing: border-box;}

a {
  text-decoration: none;
  color: inherit;
}

ul,ol{
  list-style: none;
}

span{
  display: block;
}
button, input {
  font-family: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input, label, span {
  display: block;
}

:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
